
  <div class="card mb-3">
   <div class="card-header">
     <i class="fa fa-table"></i>Lista de Asistencias en Detalle </div>

   <div class="card-body">
     <div class="table-responsive">
        <table class="table table-bordered" border=1 id="dataTable" width="100%" style="text-align: center;style=" >
         <thead >
           <tr>
             <th>Fec Evento</th>
             <th>Socio</th>
             <th>Nombre</th>
             <th>Apellido</th>
             <th>Email</th>
             <th>Est. Asistencia</th>
             <th>Est. Notificacion</th>
             <th>Est. Justificacion</th>
             <th>Comentario</th>
           </tr>
         </thead>
         <tbody>
