
  <div class="card mb-3">
   <div class="card-header">
     <i class="fa fa-table"></i>Lista de Movimientos Financieros </div>

   <div class="card-body">
     <div class="table-responsive">
        <table class="table table-bordered" border=1 id="dataTable" width="100%" style="text-align: center;style=" >
         <thead >
           <tr>
             <th>Folio</th>
             <th>Fecha</th>
             <th>Item</th>
             <th>Subitem</th>
             <th>Tipo</th>
             <th>Monto</th>
             <th>N Cheque</th>
             <th>N Boleta/Factura</th>
             <th>Proveedor</th>
             <th>Rut Socio Asociado</th>
             <th>Estado</th>
             <th>Comentario</th>
           </tr>
         </thead>
         <tbody>
