
  <div class="card mb-3">
   <div class="card-header">
     <i class="fa fa-table"></i>Lista de Saldos</div> 

   <div class="card-body">
     <div class="table-responsive">
        <table class="table table-bordered" border=1 id="dataTable" width="100%" style="text-align: center;style=" >          
         <thead >
           <tr>
             <th>Item</th>
             <th>Subitem</th>
             <th>Monto</th>
             <th>Estado</th>

           </tr>
         </thead>
         <tbody>
