{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load poll_extras %}

{% block bodyblock %}
  <h1>Asistencias - Comite Etica</h1>
  <hr>
  <!-- Example DataTables Card-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i>Asistencias</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Folio</th>
              <th>Feha Evento</th>
              <th>Usuario Creador</th>
              <th>Tipo Evento</th>
              <th>Total Asistentes</th>
              <th>Porcentaje Asistentes</th>
              <th>Total Inasistentes</th>
              <th>Porcentaje Inasistentes</th>
              <th>Total</th>
              <th>Archivo</th>
              <th>Acta</th>
            </tr>
          </thead>
          <tbody>
            {% for list in lista_asistencia %}
              <tr>
                <td><a href="{% url 'asistencias:lista_det_CE' pk=list.pk %}">{{list.pk}}</a></td>
                <td>{{list.fec_evento|date:"d/M/Y"}}</td>
                <td>{{list.usuario|rut_format}}</td>
                <td>{{list.tipo_evento}}</td>
                <td>{{list.cant_asistencias}}</td>
                <td>{% widthratio list.cant_asistencias list.cant_total 100 %}% </td>
                <td>{{list.cant_ausentes}}</td>
                <td>{% widthratio list.cant_ausentes list.cant_total 100 %}%</td>
                <td>{{list.cant_total}}</td>
                <td> <a href="{{list.archivo.url}}">{{list.archivo.name}}</a> </td>
                <td> <a href="{{list.acta.url}}">{{list.acta.name}}</a> </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
